/* Ajustes generales */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  --primary-color: #5e17eb;
  --primary-dark: #1f252e;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  min-height: 100vh;
  color: #000000;
}

main {
  padding: 0 8.4rem;
  position: relative;
}

h1 {
  color: #000000;
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  color: #000000;
  font-size: 1.5rem;
}

/* Cabecera */

header {
  z-index: 1;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: sticky;
  top: 0;
  padding: 0 8.4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: #000000;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 0.6rem;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li a {
  display: inline-block;
  padding: 0.3rem 1rem;
  color: #000000;
  text-decoration: none;
  font-size: 1.05rem;
  letter-spacing: 0.7px;
  border-radius: 36px;
  line-height: 2;
  transition: 0.3s;
}

li a.active,
li a:hover {
  color: var(--primary-color);
}

.menu {
  display: none;
}

.mode i {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  border: 1.5px solid transparent;
  border-radius: 50%;
}

.mode i:hover {
  color: #ffffff;
  background-color: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);
  transition: all 0.3s ease-in-out;
}

#click {
  display: none;
}

/* Pagina inicio */

.mainInicio {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}

.images {
  border-radius: .5rem;
  width: 450px;
  background-color: transparent;
  box-shadow: 10px 10px 20px rgb(209, 217, 230), 10px 10px 20px rgb(255, 255, 255);
  border-top: 3px solid var(--primary-color);
  margin: auto;
  overflow: hidden;
  height: fit-content;
}

.imgInicio {
  width: 100%;
  height: auto;
  border-radius: .5rem;
}

#IGindex ,
#WPindex {
  font-weight: bold;
}
 
.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.4rem;
}

.social a {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--primary-color);
  border: 1.6px solid var(--primary-color);
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.39rem;
  text-align: center;
}

.social a:hover {
  color: #ffffff;
  background-color: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);
  transition: all 0.3s ease-in-out;
}

/* Pagina Servicios */

.mainServicios {
  padding: 3rem 0;
}

.cards {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
}

.card:hover {
  box-shadow: 0 0 20px var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.imgServicios {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

.card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px 4px rgb(31, 37, 46, .30);
  border-radius: 15px;
  vertical-align: top;
  background-color: #ffffff;
  border: 0;
}

.cardtitle {
  font-size: 1.05rem;
  padding: 10px 10px 0 10px;
  font-weight: bold;
}

.cardbody {
  padding: 10px;
}

.more {
  background: var(--primary-color);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.more a {
  text-decoration: none;
  color: white;
}

/* Portfolio */

.mainPortfolio {
  padding: 3rem 0;
}

.cardsPortfolio {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
}

.imgPortfolio {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

/* Nosotros */

.mainNosotros {
  padding: 3rem 0;
}

.infoNosotros {
  padding-top: 2rem;
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;*/
}

.imgNosotros {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

/*  Pie de pagina  */

footer {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  width: 100%;
}

#footer {
  background-color: transparent !important;
  padding: .5 !important;
}

.footer {
  display: grid;
  grid-template-columns: 2, 1fr;
  justify-content: center;
  align-items: center;
}

.logoFooter {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.logoFooter a {
  color: #000000;
  text-decoration: none;
}

.copyright {
  text-align: center;
}

/* Modo oscuro */

.dark-mode {
  background-color: var(--primary-dark);
  color: #ffffff;
}

.mode input {
  display: none;
}

.dark-mode .logo a,
.dark-mode .logoFooter a,
.dark-mode ul li a,
.dark-mode main h3,
.dark-mode main h1,
.dark-mode p {
  color: #ffffff;
}

.dark-mode ul li a.active,
.dark-mode ul li a:hover {
  color: var(--primary-color);
}

.dark-mode .images {
  background: linear-gradient(145deg, #1f252e, #2e3239);
  box-shadow: 10px 10px 20px #1c1e22, -10px -10px 20px #1b1f27;
  border-top: 2px solid var(--primary-color);
  margin: auto;
  overflow: hidden;
}

.dark-mode header {
  box-shadow: 0 4px 17px rgba(80, 80, 80, 0.31);
  background: var(--primary-dark);
}

.dark-mode footer {
  box-shadow: 0 4px 17px rgba(80, 80, 80, 0.31);
  background: var(--primary-dark);
}

.dark-mode .card {
  color: #ffffff;
  background: var(--primary-dark);
  box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.3);
}

.dark-mode .card:hover {
  box-shadow: 0 0 20px var(--primary-color);
  transition: all 0.3s ease-in-out;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  main {
    padding: 0 4.4rem;
  }
  .header {
    padding: 0 4.4rem;
  }

  .main h3 {
    color: #000000;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 0 1.6rem;
  }

  .header {
    padding: 0;
  }

}

@media screen and (max-width: 600px) {
  body {
    height: auto;
  }

  header {
    height: auto;
  }

  .navbar {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  ul {
    background: #ffffff;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 3.4rem;
    left: -100%;
    z-index: 111111;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }

  #click:checked ~ ul {
    left: 0%;
    transition: all 0.3s ease;
  }

  .dark-mode .menu {
    color: var(--primary-color);
  }

  .dark-mode ul {
    background: var(--primary-dark);
  }

  .mode {
    position: absolute;
    right: 4rem;
  }

  .images {
    width: 100%;
    margin: auto;
  }

}