* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

<<<<<<< HEAD
=======
html {
  --primary-color: #5e17eb;
  --primary-dark: #1f252e;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #000000;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 0 8.4rem;
  position: relative;
}

>>>>>>> e5cbacfb92aa07f4c44eda7cc576d294f3a18c1c
h1 {
  color: #000000;
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  color: #000000;
  font-size: 1.5rem;
}

h6 {
  color: #000000;
}

html {
  --primary-color: #5e17eb;
  --primary-dark: #1f252e;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #000000;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  z-index: 1;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: sticky;
  top: 0;
  padding: 0 8.4rem;
  font-size: 1.05rem;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
header .navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
header .navbar .logo a {
  color: #000000;
  text-decoration: none;
}
header .navbar .menu {
  display: none;
}
header .navbar .checkboxClick {
  display: none;
}
header .navbar ul {
  display: flex;
  gap: 0.6rem;
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
header .navbar ul a {
  display: inline-block;
  padding: 0.3rem 1rem;
  color: #000000;
  text-decoration: none;
  font-size: 1.05rem;
  letter-spacing: 0.7px;
  border-radius: 36px;
  line-height: 2;
}
header .navbar ul a.active,
header .navbar ul a:hover {
  color: var(--primary-color);
  font-weight: bold;
}
header .navbar .mode i {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  border: 1.5px solid transparent;
  border-radius: 50%;
}
header .navbar .mode i:hover {
  filter: drop-shadow(0 0 10px #5e17eb);
  transition: all 0.3s ease-in-out;
}

main {
  padding: 0 8.4rem;
  position: relative;
}
main .mainInicio {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 2rem;
  column-gap: 6rem;
  align-items: center;
}
main .mainInicio .images {
  border-radius: 0.5rem;
  background-color: transparent;
  box-shadow: 10px 10px 20px rgb(209, 217, 230), 10px 10px 20px rgb(255, 255, 255);
  border-top: 3px solid var(--primary-color);
  margin: auto;
  overflow: hidden;
  height: fit-content;
}
main .mainInicio .images .imgInicio {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
main .mainServicios {
  padding: 3rem 0;
}
main .mainServicios .imgServicios {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
main .mainPortfolio {
  padding: 3rem 0;
}
main .mainPortfolio .imgPortfolio {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
main .mainNosotros {
  padding: 3rem 0;
}
main .mainNosotros .infoNosotros {
  padding-top: 2rem;
}
main .mainNosotros .infoNosotros #info {
  text-align: center;
}
main .mainContacto {
  padding: 3rem 0;
}
main .mainContacto .contentContact {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
main .mainContacto .contentContact .info {
  display: flex;
  align-content: stretch;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
main .mainContacto .contentContact .infoSocial {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
main .mainContacto .contentContact .infoSocial h3 {
  margin: 0;
}
main .mainContacto .contentContact .mapa {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1rem 0 0.5rem 0;
  border-color: transparent;
  box-shadow: 2px 2px 8px 4px rgba(31, 37, 46, 0.3);
}
main .mainContacto .contentContact .contact {
  min-height: auto;
  border-color: transparent;
}
main .mainContacto .contentContact .contact form {
  width: auto;
  margin: 1rem auto;
  text-align: center;
}
main .mainContacto .contentContact .contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .mainContacto .contentContact .contact form .input-box input {
  width: 49%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  border-color: transparent;
  box-shadow: 2px 2px 8px 4px rgba(31, 37, 46, 0.3);
}
main .mainContacto .contentContact .contact form .input-box input:hover {
  box-shadow: 0 0 20px var(--primary-color);
}
main .mainContacto .contentContact .contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  border-color: transparent;
  box-shadow: 2px 2px 8px 4px rgba(31, 37, 46, 0.3);
  resize: none;
}
main .mainContacto .contentContact .contact form textarea:hover {
  box-shadow: 0 0 20px var(--primary-color);
}
main .mainContacto .contentContact .contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
  color: #ffffff;
  background: var(--primary-color);
}
main .mainContacto .contentContact .contact form .btn:hover {
  box-shadow: 0 0 20px var(--primary-color);
}
main .mainContacto .contentContact .contact input:focus,
main .mainContacto .contentContact .contact textarea:focus {
  outline: none;
}
main .mainContacto .contentContact .contact input[type]:focus {
  box-shadow: 0 0 20px var(--primary-color);
}

#footer {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
  background: #ffffff !important;
  width: 100%;
  padding: 0.5 !important;
}
#footer .footer {
  display: grid;
  grid-template-columns: 2, 1fr;
  justify-content: center;
  align-items: center;
}
#footer .footer .logoFooter {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
#footer .footer .logoFooter a {
  color: #000000;
  text-decoration: none;
}
#footer .footer .copyright {
  text-align: center;
}

.dark-mode {
  background-color: var(--primary-dark);
}
.dark-mode h1,
.dark-mode h3,
.dark-mode h6,
.dark-mode p {
  color: #ffffff;
}
.dark-mode header {
  box-shadow: 0 4px 17px rgba(80, 80, 80, 0.31);
  background: var(--primary-dark);
}
.dark-mode header .navbar ul {
  background: var(--primary-dark);
}
.dark-mode header .navbar a {
  color: #ffffff;
}
.dark-mode .mainInicio .images {
  background: linear-gradient(145deg, #1f252e, #2e3239);
  box-shadow: 10px 10px 20px #1c1e22, -10px -10px 20px #1b1f27;
  border-top: 2px solid var(--primary-color);
  margin: auto;
  overflow: hidden;
}
.dark-mode .cards .card,
.dark-mode .cardsPortfolio .card {
  color: #ffffff;
  background: var(--primary-dark) !important;
  box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.3) !important;
}
.dark-mode .cards .card:hover,
.dark-mode .cardsPortfolio .card:hover {
  box-shadow: 0 0 20px var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
}
.dark-mode .cards .modal-content,
.dark-mode .cardsPortfolio .modal-content {
  color: #ffffff;
  background: var(--primary-dark) !important;
  box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.3) !important;
}
.dark-mode .cards #btnClose,
.dark-mode .cardsPortfolio #btnClose {
  background-color: #ffffff;
}
.dark-mode .mapa {
  border-color: transparent;
  box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.3) !important;
}
.dark-mode .contact {
  color: #ffffff;
}
.dark-mode .contact form .input-box input,
.dark-mode .contact form textarea {
  box-shadow: 2px 2px 8px 4px rgba(255, 255, 255, 0.3) !important;
}
.dark-mode .contact form .input-box input:hover,
.dark-mode .contact form textarea:hover {
  box-shadow: 0 0 20px var(--primary-color) !important;
}
.dark-mode .contact form textarea:focus,
.dark-mode .contact form input:focus,
.dark-mode .contact form input[type]:focus {
  box-shadow: 0 0 20px var(--primary-color) !important;
}
.dark-mode #footer {
  box-shadow: 0 4px 17px rgba(80, 80, 80, 0.31);
  background: var(--primary-dark) !important;
}
.dark-mode #footer .logoFooter a {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  main {
    padding: 0 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    height: auto;
  }
  body header {
    height: auto;
    padding: 0;
  }
  body header .navbar {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  body header .navbar #click:checked ~ ul {
    left: 0%;
    transition: all 0.3s ease;
  }
  body header .navbar .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  body header .navbar ul {
    background: #ffffff;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 3.4rem;
    left: -100%;
    z-index: 111111;
  }
  body header .navbar .mode {
    position: absolute;
    right: 4rem;
  }
  body main {
    padding: 0 1.6rem;
  }
}
@media screen and (max-width: 1024px) {
  main {
    padding: 0 4.4rem;
  }
  /*.header {
    padding: 0 4.4rem;
  }*/
}
.cards {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
}

<<<<<<< HEAD
.cardsPortfolio {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
}
.cardsPortfolio #more {
  background: var(--primary-color) !important;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  color: white;
  border: 0;
}

.card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px 4px rgba(31, 37, 46, 0.3);
  border-radius: 15px;
  vertical-align: top;
  background-color: #ffffff;
  border: 0;
}
.card .cardtitle {
  font-size: 1.05rem;
  padding: 10px 10px 0 10px;
  font-weight: bold;
}
.card .cardbody {
  padding: 10px;
}
.card .more {
  background: var(--primary-color);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  color: white;
  border: 0;
}
.card .more a {
  text-decoration: none;
  color: #ffffff;
}
.card #more {
  background: var(--primary-color) !important;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  color: white;
  border: 0;
}

.card:hover {
  box-shadow: 0 0 20px var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.4rem;
}
.social a {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--primary-color);
  border: 1.6px solid var(--primary-color);
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.39rem;
  text-align: center;
}
.social a:hover {
  color: #ffffff;
  background-color: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);
  transition: all 0.3s ease-in-out;
}
.social #IGindex,
.social #WPindex {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
=======
}
>>>>>>> e5cbacfb92aa07f4c44eda7cc576d294f3a18c1c
