
/* Ajustes Globales */
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  margin: 0;
}
main {
  margin: 2rem;
  text-align: justify;
}
.banner {
  max-width: 100%;
  border-radius: 1rem;
}
/* Header */
.header {
  background-color: #5E17EB;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0%;
  left: 0%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.logoHeader {
  float: left;
  margin-top: -0.5rem;
  margin-left: 3rem;
}
.menuPrincipal ul {
  list-style-type: none;
  padding-bottom: 1rem;
  margin-right: 3rem;
}
.menuPrincipal li {
  float: right;
}
.menuPrincipal a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: .5rem;
  margin: .5rem;
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #5E17EB;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0%;
  left: 0%;
  position: absolute;
  bottom: auto;
  color: #FFFFFF;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.logoFooter {
  text-align: center;
  float: left;
  margin-left: 1rem;
}
#logoFooter{
  margin-bottom: -2rem;
}
#copyright {
  margin-bottom: 0rem;
}
.redesFooter ul {
  list-style-type: none;
  padding-top: .5rem;
  margin-right: 3rem;
}
.redesFooter li {
  float: right;
}
.redesFooter a {
  margin: 1rem;
}
.iconoFooter {
  filter: invert(100%);
}
/* Página Contacto */
.redesContacto,
.escribenos {
  width: 50%;
}
.redesContacto div{
  float: left;
  text-align: center;
  margin-left:2rem;
  margin-right:2rem;
}
.redesContacto h5{
  margin-top: .5rem;
  margin-bottom: -1rem;
}
.escribenos {
  float: right;
  margin-top: -4rem;
}
.escribenos div{
  float: right;
  font-weight: bold;
  text-align: end;
  margin-right: 2rem;
}
.ubicacion {
  margin-top: 8rem;
  width: 100%;
}
.ubicacion h5 {
  margin-top: -1rem;
}